.navbar{
    /* top: 0; */
    /* position: fixed; */
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    padding: 1em 0 1em;
    margin-bottom: 2em;
    height: 100px;
    width: 100vw;
}

.logo{
    margin-left: 1em;
}

#check{
    display: none;
}

.links{
    float: right;
    list-style: none;
    margin-top: 1.5em;
    padding-right: 3em;
    font-size: 1.6em;
}

.links li{
    margin: 0 0.5em;
    display: inline-block;
}

.links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.63);
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
}

.links a:hover{
    border-bottom: 2px solid rgb(255, 211, 13);
    color: rgb(255, 211, 13);
}
.links a:hover::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    transition: width 0.3s ease-in-out;
}
.links a:active{
    color: rgb(255, 211, 13);
}

.menu{
    font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

@media(max-width:673px){
    .navbar{
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 0;
        z-index: 2;
    }
    .links{
        position: fixed;
		width: 100%;
		height: 100vh;
		background-color: #2d87bb;
		top: 40px;
		left: -100%;
		text-align: center;
		transition: all .5s;
        padding: 0;
    }
    .links li{
        background-color: #2d87bb;
        display: block;
        text-align: center;
    }
    .links li a{
        display: block;
		margin: 50px 0;
		line-height: 30px;
        background-color: #2d87bb;
    }
    .menu{
        display: block;
    }
    #check:checked~ul {
		left: 0;
	}
    
}

