.sobre{
    text-align: center;
}

.sobre h1{
    margin-top:2em;
    /* text-align: center; */
    font-size: 4em;
    margin-bottom: 1em;
}
.sobre p{
    font-size: 2em;
    color: rgba(0, 0, 0, 0.63);;
    max-width: 700px;
    margin:0 auto 1.5em;
    line-height: 1.4;
}