.tecs{
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tecs_container{
    max-width: 1170px;
    flex-wrap: wrap;
}   

.tecs_items{
    width: 100%;
    flex-flow: row wrap;
    list-style: none;
    text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.tecs_items svg{
    filter: grayscale(90%);
    border: 5px solid rgb(255, 211, 13);
    border-radius: 10px;
    background-color: rgb(255, 211, 13);
}
.tecs_items svg:hover{
    filter: grayscale(0%);
    transition: 0.8s;
}

.tecs_items li{
    position: relative;
    padding: 2px;
    margin: 10px;
    width: 100px;
    height: auto;
}
.tec_item_desc{
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0s, opacity 0.5s ease-in-out;
    font-size: 1.5em;
    color:rgb(255, 211, 13);
}
.tecs_items li:hover .tec_item_desc{
    visibility: visible; 
    opacity: 1;
}

@media(max-width:673px){
     .tecs_container{
        display: flex;
    }
    .tecs{
        margin-top: 100px;
    }
}
